@media (min-width: 1024px) {
  .dialog-1,
  .dialog-2 {
    width: 260px;
  }

  .shape-7 {
    top: 80%;
    left: -25px;
    width: 50px;
  }

  .shape-9 {
    bottom: -40px;
    left: 15%;
    width: 100px;
  }
}
